<h1>Import Trials from ClinicalTrials.gov</h1>
<p>The last import was run on <span style="font-weight:bold;">October 10, 2013 at 8:55pm</span></p>

<%= link_to "Run Importer", importer_run_path, method: :post %><br>

<%= link_to "Delete All Trials", importer_delete_all_path, method: :post %><br>

<%= link_to "View All Trials", root_path %><br>

<%= link_to "Send new match emails", importer_new_match_alert_path %>


<div style="margin-bottom:30px;"></div>