// Place all the styles related to the Trials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td{
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
	padding: 0.5% !important;
}

/*.td_itnro {}
#td_contents { margin: 30px 0 0 40px; float: left; width: 650px; padding-bottom: 40px; padding-right: 20px; }
#td_intro { margin: 0 -20px; padding: 10px 20px; background-color: #FFF1D1; background: #eee; }
#td_intro { margin: 0 -20px }
#td_intro strong { color: #333; font-size: 20px; letter-spacing: -1px; margin: 0; text-transform: uppercase; display: block; height: 36px; line-height: 36px; padding: 0 20px; }
#td_intro p { padding: 10px 20px; background: #FFEFCC; margin: 2px 0 5px; }
#td_intro div { border-bottom: 5px solid #eee; }
#td_contents h2 {font: normal 34px/40px;} 
#td_contents .briefAbstract { font-weight:normal; }
#td_contents .td_purpose { padding: 20px; color:#666; }
#td_contents .td_purpose h4 { font: normal 24px/26px;  }
#td_contents .td_purpose p { font-size: 14px; line-height:1.4em; margin-bottom:15px; }
#td_contents .td_desc { margin-top: 20px; }
#td_contents .td_desc div a { color: Orange; text-indent: 20px; background: url('') 0 0 no-repeat; }
#td_contents h3.td_catHead { margin: 40px 0 10px; clear: left; font: bold 18px; color: #A2A2A2; border-bottom: 5px solid #EEE; padding-bottom: 2px; }
#td_contents h3.td_catHead span { float: right; font-size: 12px; margin-top: 5px; }
#td_contents ul.keyInfoList { overflow: visible; }
#td_contents ul.keyInfoList li { clear: left; overflow: hidden; margin-bottom: 2px; padding: 5px 5px 5px 10px; background-color: #FFEFCC; position: relative; }
#td_contents ul.recruitmentList { overflow: visible; }
#td_contents ul.recruitmentList li { clear: left; margin-bottom: 2px; padding: 5px 5px 5px 10px; background-color: #FFEFCC; position: relative; }
#td_contents li h4 { float: left; width: 160px; font-weight: normal; }
#td_contents li > p { float: left; font-weight: bold; width: 475px; }
#td_contents .more-info { right: 5px; }
#td_contents table tr {border-bottom:2px solid whitesmoke;}
#td_contents .greyBackground table tr {border-bottom:2px solid white;}


#td_contents table td {
	width:180px;
    padding:10px 4px;
	}
.td_purpose .bold { width:100px;}*/

.expandableTrialDetails a {
background-color: #e8e8e8;
font-weight:bold;
display: block;
line-height: 36px;
padding-left: 20px;
padding-right: 2px;
color: #333;
font-size: 14px;
margin-top: 2px;
}
.expandableTrialDetails a:hover {background-color:#999; color:white;}

.expandIcon {color: #666;
font-weight: bold;
font-size: 20px;
float: right;
margin-right: 5px;
text-shadow: 1px 1px white;}
.expandableTrialDetails a:hover .expandIcon {
    color:white;
    text-shadow: 1px 1px #666;
}

ul.locations { background-color: #e8e8e8; margin-bottom: 12px; overflow: auto; padding:0;}
li.trialCity,
li.trialFacility,
li.trialStatus,li.favoriteSiteLocation,li.contactSiteLocation { display: block; float: left; height: 24px; line-height:24px; position: relative; overflow: hidden; }
li.trialCity { padding: 5px 15px 5px 10px; width: 250px; }
	li.trialCity span { padding-left: 10px; background: url('https://foxtrialfinder.michaeljfox.org/images/findtrial/trial-details/nav_carrot_sub.png') 0 4px no-repeat; }
li.trialFacility { padding:0; width: 0; }

li.trialStatus{ padding: 5px 5px 5px 0; width: 135px; text-transform: capitalize; }
li.favoriteSiteLocation,li.contactSiteLocation { padding: 5px 5px 5px 0; width: 80px; float:right; text-transform: capitalize; }
li.locationDetails { float: left; width: 100%; }
.width60{width:60% !important;}
.width50{width:50% !important;}
.width40{width:40% !important;}
.TrialLocationList { font-weight:bold; font-size: 16px; color: #666; margin-top: 20px; display: block; }

ul.locations ul { border: 2px solid #e8e8e8; background-color:white; padding: 10px 5px 10px 10px; margin-bottom: 0; overflow: hidden; }
ul.locations ul li { float: left;  }

ul.recruitmentInfo { overflow: visible; }
ul.recruitmentInfo li { display: block; float: left; position: relative; width: 308px; margin: 0 2px 2px 0; padding: 5px 5px 5px 10px; height: 20px; background-color: #FFEFCC; }
ul.recruitmentInfo li span.iLabel { width: 160px; }
ul.recruitmentInfo li span { float: left; }

.criteria { position: relative; border-top: 1px dashed #CCC; margin-top: 20px; /*padding-top: 20px;*/ }
.criteria h4 { float: left; }
h4.detailDesc { font-size: 16px; margin-bottom: 5px; }
ul.criteriaList { clear: left; line-height: 2em; margin-left:30px; }
ul.criteriaList li { padding: 5px 5px 0px 10px; list-style:circle; }
ul.criteriaList li.alt { background-color: #FFEFCC; }
ul.criteriaList a { color: #f47522; display: block; font-size: 13px; font-weight: bold; height: 16px; line-height: 16px; background: url("/images/global/button_carrot.gif") no-repeat 0 0; padding: 0 0 0 23px; margin: 2px 0; }
ul.criteriaList a:hover { background-position: left bottom; }

/*ul.addlInfoList li { padding: 5px 5px 5px 10px; margin-bottom: 2px; background-color: #FFEFCC; }*/
ul.addlInfoList li { padding: 5px 5px 5px 0px; margin-bottom: 2px; }

ul{
margin:0;
list-style: none;
}
li{
	margin:0;
}

input[type=text],
input[type=email] {
  padding: 0.25em;
}

.inlineFormLabel{
	float:left;
	padding-right:5px;
	padding-top:3px;
	margin-bottom:8px;
}
.inlineFormField{
	width:35%;
}

input[name=gender]{
	margin-left:10px;
}

.genderContainer{
	margin-top: 2px;
}